.Body-Box {
    display: inline-block;
    width: 70%;
    margin: auto;
    vertical-align: top;
}

.Body-Left,
.Body-Right {
    display:inline-block;
}

.Body-Left {
    width: 34vw;
    float: Left;
}

.Body-Right {
    width: 33vw;
    float: right;
}

.Body-Content {
    text-align: left;
}

.Body-Img {
    align-content: center;
    height: 70vh;
}

.color {
    color: #999999;
}

.left-sp {
    margin: 0 0 0 5pt;
}

.min-bot-margin {
    margin-bottom: .1em;
}

.inline-block {
    display: inline-block;
}

h1 {
    font-size: 50px;
}

@media (max-width: 560px) {
    .Body-Box {
        width: 100%;
        text-align: center;
        margin: auto;
    }
}
