.Header {
    display: inline-block;
    text-align: center;
    width: 70vw;
    align-content: center;
}

.Header-Home,
.Header-Resume,
.Header-Contact {
    display:inline-block;
}

.Header-Left,
.Header-Right {
    display:inline-block;
}

.Header-Left {
    float: Left;
}

.Header-Right {
    float: right;
}

.Link {
    text-decoration: none;
    padding: 2vh 4vh;
    color: black;
}

.Link-surround {
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
    color: lightgrey;
}
