.Header {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 88px;
    z-index: 10;
    background: #eeeeee;
    -webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
}

.Header-Box {
    width: 80vw;
    text-align: center;
    margin: auto;
}

.Header-Home,
.Header-Resume,
.Header-Contact {
    display:inline-block;
}

.Header-Left,
.Header-Right {
    display:inline-block;
}

.Header-Left {
    float: Left;
}

.Header-Right {
    float: right;
}

.Link {
    text-decoration: none;
    padding: 2vh 4vh;
    color: black;
}

@media (max-width: 560px) {
    .Header {
        height: 70px;
    }

    .Header-Box {
        width: 100%;
        text-align: center;
        margin: auto;
    }

    .Link {
        text-decoration: none;
        padding: 1vh 3vh;
        color: black;
    }
}
