.Footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.Footer .img{
    display:inline-block;
    padding: 1vh;
    margin: 1vh 10vw;
}

.Footer-github,
.Footer-linkedin,
.Footer-twitter{
    width: 4vw;
}


